@import "./colors.scss";

body {
  margin: 0px;
  color: #000;
  font-family: Nunito, sans-serif;
}

.home {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 5px;
  width: 100%;
}
