@import "./colors.scss";

.card {
  border: 2px solid $borderColor;
  border-radius: 36px;
  background: #fff;
}

.movie-poster {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  img {
    height: 237px;
    border: 1px solid $borderColor;
  }
}

.movie-title {
  padding: 10px 0 10px 0;
  font-weight: 600;
  font-size: 20px;
}

.movie-link {
  margin: 20px 0;
  a {
    color: #fff;
    background: #000;
    border-radius: 4px;
    padding: 10px 50px;
    border: 1px solid #000;
    width: 100%;
    text-decoration: none;
  }
}

.popularity {
  color: $favePrimaryColor;
  font-weight: 600;
}

.rating {
  color: $faveSecondaryColor;
  font-weight: 600;
}
