@import "./colors.scss";

body {
  margin: 0px;
  color: #000;
  font-family: Nunito, sans-serif;
}

.home {
  text-align: center;
  padding-bottom: 20px;
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px 10px 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 8px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

//1280-1024   - desktop (default grid)
@media all and (min-width: 1024px) and (max-width: 1280px) {
}
//1024-768    - tablet landscape
@media all and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
//768-480     - tablet
@media all and (min-width: 480px) and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
//480-less    - phone landscape & smaller
@media all and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
